/*Game heading*/
h1{
    background-color: #fcfc7a;
    color: darkblue;
    font-size: 40px;
    text-align: center;
}

/*Background image for page*/
html{
    /* width: 100%; height: 100%; position: relative; */
    background-image: url(https://cdn.pixabay.com/photo/2016/12/06/01/26/colour-1885352__480.jpg);
    background-size: cover;
    /* margin: auto; */
    background-repeat: no-repeat;
} 
.container{ 
    margin-left: 5%;
    padding-left:10%;
    width: 80vw;
}
/*Start button*/
#start{
    font-size: 35px;
    border-radius: 8px;
    background-color: cornsilk;
    color: darkblue;
    width: 100px;
    height: 100px;


}

/*Timer*/
p {
    background-color: whitesmoke;
    display: inline-flex;
    align-items: center;
    font-size: 50px;
    margin: 0;
    height: 70px;
    width: 125px;
}

/*Quiz*/
/* .quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
} */


